# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Development
.git
.gitignore
.env
.env.*
!.env.example
.vscode
.idea

# Testing
coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store